<!DOCTYPE html>
<html>
<head>
    <title>WikiArticles</title>
    <meta charset="utf-8">
    <meta name="author" content="Kashav Madan">
    <meta name="application-name" content="wiki-articles">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="hero h1">
            <a href="/">WikiArticles</a> <span class="small">An aggregator for <i>random</i> Wikipedia articles.</span>
        </div>
        <div class="content">
            {% block index %}{% endblock index %}  
        </div>
    </div>
    <script src="/static/scripts/script.js"></script>
</body>
</html>