{% extends "base.html" %}
{% block index %}
    <div class="container">
        <div class="hero h2">
            WikiArticles <span class="small">An aggregator for <i>random</i> Wikipedia articles.</span>
        </div>
        <div class="content">
            <div class="posts">
            {% for title, article in articles.items() %}
                <div class="post">
                    <a href="{{ article.url }}" target="_blank"><span class="title">{{ article.title }}</span></a>
                    <p>{{ article.summary }}</p>
                    <div class="tags">
                        {% for tag in article.categories %}
                            <code class="small"> {{ tag }} </code>&nbsp;
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock index %}